.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/animated_vector_drawable_25_3_1.xml
.idea/libraries/appcompat_v7_25_3_1.xml
.idea/libraries/butterknife_8_5_1.xml
.idea/libraries/butterknife_annotations_8_5_1.xml
.idea/libraries/cardview_v7_25_3_1.xml
.idea/libraries/circleimageview_2_1_0.xml
.idea/libraries/CircularFloatingActionMenu_1_0_2.xml
.idea/libraries/design_25_3_1.xml
.idea/libraries/glide_3_7_0.xml
.idea/libraries/recyclerview_v7_25_3_1.xml
.idea/libraries/support_annotations_25_3_1.xml
.idea/libraries/support_compat_25_3_1.xml
.idea/libraries/support_core_ui_25_3_1.xml
.idea/libraries/support_core_utils_25_3_1.xml
.idea/libraries/support_fragment_25_3_1.xml
.idea/libraries/support_media_compat_25_3_1.xml
.idea/libraries/support_v13_25_3_1.xml
.idea/libraries/support_v4_25_3_1.xml
.idea/libraries/support_vector_drawable_25_3_1.xml
.idea/libraries/transition_25_3_1.xml
build/android-profile/profile-2017-04-24-00-46-39-959.rawproto
build/generated/mockable-android-25.jar
build/intermediates/dex-cache/cache.xml
build/android-profile/profile-2017-04-24-00-54-40-017.rawproto
build/android-profile/profile-2017-04-24-00-54-56-353.rawproto
build/android-profile/profile-2017-04-24-00-55-50-041.rawproto
